:root {
    --app-stickyheader-z-index: 10;
}

.title {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    font-size: rem(100px);
    font-weight: 900;
    letter-spacing: rem(-2px);

    @media (max-width: $mantine-breakpoint-md) {
        font-size: rem(50px);
    }
}

table.logTable {
    td {
        vertical-align: top;
    }

    tr:has(th) {
        position: sticky;
        top: 0;
        z-index: var(--app-stickyheader-z-index);

        @media (min-width: $mantine-breakpoint-md) {
            top: calc(3.75rem);
        }
    }

    tr {
        cursor: pointer;
    }
    td.ctaColumn {
        cursor: initial;
    }
    td.durationColumn {
        display: flex;
        justify-content: flex-end;
    }

    @media (max-width: $mantine-breakpoint-xs) {
        margin-inline: -1rem;
        width: calc(100% + 2rem);
    }
}
